<div class="inner-box-container">

  <%= simple_form_for(@teacher_subject, :url => teacher_teacher_subjects_path(@teacher)) do |f| %>
    <% if @teacher_subject.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@teacher_subject.errors.count, "error") %> prohibited this teacher_subject from being saved:</h2>

        <ul>
        <% @teacher_subject.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.association :subjects, :collection => Subject.available_subjects(@teacher),:wrapper_html => {:class => "custom-ui-checkbox"}, :label => false %>

    <div class="input">
      <label>&nbsp;</label>
      <div class="actions">
        <%= f.submit %>
        <%= link_to 'Back', teachers_path(), :class => "link-button" %>
      </div>
    </div>
  <% end %>
</div>