<div class="inner-box-container">
  <%= simple_form_for(@student) do |f| %>
    <% if @student.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

        <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :father_name %>
      <%= f.input :mother_name %>
      <%= f.input :local_guardian_name %>
      <%= f.input :address_1 %>
      <%= f.input :address_2 %>
      <%= f.input :contact_no_1 %>
      <%= f.input :contact_no_2 %>
      <%= f.input :dob %>
      <%= f.input :blood_group %>
      <%= f.input :klass_id %>
      <%= f.input :roll_no %>
      <%= f.input :enrollment_no %>

      <div class="input">
        <label>&nbsp;</label>
        <div class="actions">
          <%= f.submit %>
          <%= link_to 'Back', students_path, :class => "link-button" %>
        </div>
      </div>
  <% end %>
</div>