<h1>Students</h1>

<table id="students" class="display data-table" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Father name</th>
      <th>Class</th>
      <th>Address</th>
      <th>Contact</th>
      <th>Roll no</th>
      <th>Enrollment no</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.name, klass_student_path(params[:klass_id], student) %></td>
        <td><%= student.father_name %></td>
        <td><%= link_to student.klass.display_name, student.klass %></td>
        <td><%= raw student.address %></td>
        <td><%= student.contact_no_2.nil? ? student.contact_no_1 : "#{student.contact_no_1 }, #{student.contact_no_2}" %></td>
        <td><%= student.roll_no %></td>
        <td><%= student.enrollment_no.upcase %></td>
        <td><%= link_to 'Edit', edit_klass_student_path(params[:klass_id], student) %></td>
      </tr>
    <% end %>

  </tbody>
</table>
<br />

<%= link_to 'New Student', new_klass_student_path(params[:klass_id]) %>