<%= render :partial => "/layouts/header_breadcrumb", :locals => {:header => "Students", :sub_header => "for #{(@klass.display_name || @klass.name)}", :breadcrumb => @breadcrumb} %>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">        
        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Students <a href="#" class="toggle-list" style="float:right"><i class="fa fa-chevron-circle-right"></i></a></h3>
      </div>
      <div class="panel-body data-list-toggle">
        <div class="table-responsive">
          <table id="students" class="table table-striped table-bordered table-hover" >
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Father name</th>
                <%if @klass.nil?%>
                <th>Class</th>
                <%end%>
                <th>Address</th>
                <th>Contact</th>
                <th>Roll no</th>
                <th>Enrollment no</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @students.each_with_index do |student, index| %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= link_to student.name, klass_section_student_path(@klass, @section, student) %></td>
                  <td><%= student.father_name %></td>
                  <%if @klass.nil?%>
                  <td><%= link_to student.klass.display_name, student.klass %></td>
                  <%end%>
                  <td><%= raw student.address %></td>
                  <td><%= student.contact_no_2.nil? ? student.contact_no_1 : "#{student.contact_no_1 }, #{student.contact_no_2}" %></td>
                  <td><%= student.roll_no %></td>
                  <td><%= student.enrollment_no.upcase %></td>
                  <td><%= link_to 'Edit', edit_klass_section_student_path(@klass, @section, student) %></td>
                </tr>
              <% end %>

            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<%= link_to 'New Student', new_klass_section_student_path(@klass, @section) %>

<script src="/assets/admin/jquery.dataTables.js"></script>
<script src="/assets/admin/dataTables.bootstrap.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    oTable = $('#students').dataTable({
       "sPaginationType": "full_numbers",
       "bJQueryUI": true,
      "iDisplayLength":50
    });
  });
</script>