<h1>Admission Documents</h1>

<div class="main-sec">
<div class="left-sec">

  <div class="student-pic">
    <%= image_tag (@admission.try(:asset).try(:data, :small).nil? ? "/assets/web/default-stdnt.jpg" : @admission.try(:asset).try(:data, :small)) %>
  </div>
  <div class="student-basic-info">
    <h2><%= @admission.name %></h2>
  </div>
  
</div>

<div class="left-sec">
  <div class="student-basic-info">
      <%= raw display_label("Admission #",@admission.admission_no)%>
      <%= raw display_label("Date of Birth", @admission.date_of_birth) %>
      <%= raw display_label("Blood Group", @admission.blood_group) %>
      <%= raw display_label("Gender", @admission.gender) %>

      <%= raw display_label("Last Passed Class", "#{@admission.last_klass.try(:display_name)} in #{@admission.last_academic_year}") %>
      <%= raw display_label("Last result", "#{@admission.last_batch_result} with #{@admission.last_batch_result_in_per}%") %>
      <%= raw display_label("Last School", @admission.last_institution) %>
      <%= raw display_label("Admission in #",@admission.admission_batch.try(:display_name))%>
  </div>

</div>

</div>
<table id="admissions" class="display">
  <thead>
  <tr>
    <th>Document Name</th>
    <th>Change</th>
    <th>Edit info</th>
  </tr>
  </thead>
  <tbody>
<% @admission_documents.each do |document| %>
  <tr>
    <td><%= document.document.name %></td>
    <td><%= link_to 'Change', edit_admission_admission_document_path(@admission, document), :remote => true %></td>
    <td><%= link_to 'Delete', admission_admission_document_path(@admission, document), method: :delete, :class => "delete" , data: { confirm: "Are you sure, you want to delete '#{document.document.name}' document"} %></td>
  </tr>
<% end %>
</tbody>
</table>
<br/>

<div id="new_admission_form">
  <%= link_to 'New Admission', new_admission_admission_document_path(@admission), :remote => true, :class => "button right-bottom-corner" %>
</div>

<%= link_to 'Next', "#", :class => "button right-bottom-corner" %>

<script type="text/javascript">
  $(document).ready(function(){
    oTable = $('#admissions').dataTable({
       "sPaginationType": "full_numbers",
       "bJQueryUI": true,
      "iDisplayLength":50
    });
  });

</script>