
<div class="form-container">
  <%= simple_form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this subject from being saved:</h2>
        <%= f.error_notification  %>
      </div>
    <% end %>

    <%= f.label @teacher.name %>
    <%= f.input :email, :reruired => true %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <input type="hidden" name="teacher_id" value="<%=@teacher.try(:id)%>" />
    
    <%= f.association :roles, :as => :check_boxes, :label => "Assign Roles", :label_method => :display_name, :wrapper_html => {:class => :boolean} %>

    <div class="input clear">
      <label>&nbsp;</label>
      <%= f.submit "Create" %>
    </div>

  <% end %>
</div>


<script type="text/javascript">
  $(document).ready(function () {
    $("#new_user").validate({
      errorElement: 'div'
    });
  });
</script>