<%if (can? :manage, Klass) || (can? :manage, Teacher)  || (can? :manage, Subject) || (can? :manage, Admission)%>
  <h4>Config</h4>
  <ul class="nav">
    <%if can? :manage, Klass%>
      <li class="first <%if controller.controller_name == 'klasses' && controller.action_name == 'index'%>active<%end%>">
        <%= link_to 'Classes',klasses_path %>
      </li>
    <%end%>

    <%if can? :manage, Teacher%>
      <li class="<%if controller.controller_name == 'teachers' && controller.action_name == 'index'%>active<%end%>">
        <%= link_to 'Teachers',teachers_path %>
      </li>
    <%end%>

    <%if can? :manage, Subject%>
      <li class="<%if controller.controller_name == 'subjects' && controller.action_name == 'index'%>active<%end%>">
        <%= link_to 'Subjects', subjects_path %>
      </li>
    <%end%>

    <%if can? :manage, Course%>
        <li class="<%if controller.controller_name == 'courses' && controller.action_name == 'index'%>active<%end%>">
          <%= link_to 'Course', courses_path %>
        </li>
    <%end%>

    <%if can? :manage, Admission%>
        <li class="<%if controller.controller_name == 'admissions' && controller.action_name == 'index'%>active<%end%>">
          <%= link_to 'Admissions', admissions_path %>
        </li>
    <%end%>

    <%if can? :manage, Admission%>
        <li class="<%if controller.controller_name == 'admissions' && controller.action_name == 'review'%>active<%end%>">
          <%= link_to 'Admission Review', review_admissions_path() %>
        </li>
    <%end%>

    <%if can? :manage, Document%>
        <li class="<%if controller.controller_name == 'document' && controller.action_name == 'index'%>active<%end%>">
          <%= link_to 'Documents', documents_path() %>
        </li>
    <%end%>


  </ul>
<%end%>