<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @student.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @student.last_name %>
</p>

<p>
  <b>Father name:</b>
  <%= @student.father_name %>
</p>

<p>
  <b>Mother name:</b>
  <%= @student.mother_name %>
</p>

<p>
  <b>Local guardian name:</b>
  <%= @student.local_guardian_name %>
</p>

<p>
  <b>Address 1:</b>
  <%= @student.address_1 %>
</p>

<p>
  <b>Address 2:</b>
  <%= @student.address_2 %>
</p>

<p>
  <b>Contact no 1:</b>
  <%= @student.contact_no_1 %>
</p>

<p>
  <b>Contact no 2:</b>
  <%= @student.contact_no_2 %>
</p>

<p>
  <b>Dob:</b>
  <%= @student.dob %>
</p>

<p>
  <b>Blood group:</b>
  <%= @student.blood_group %>
</p>

<p>
  <b>Klass:</b>
  <%= @student.klass_id %>
</p>

<p>
  <b>Roll no:</b>
  <%= @student.roll_no %>
</p>

<p>
  <b>Enrollment no:</b>
  <%= @student.enrollment_no %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', klass_students_path(@klass) %>
