<div class="inner-box-container">
  <%= simple_form_for(@teacher) do |f| %>
    <% if @teacher.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this subject from being saved:</h2>
        <%= f.error_notification  %>
      </div>
    <% end %>

    <%= f.input :title, :as => :select, :collection => ["Mr", "Mrs", "Miss", "Dr"] %>
    <%= f.input :first_name, :as => :string, :required => true %>
    <%= f.input :last_name, :as => :string %>
    <%= f.association :higher_qualification%>
    <%= f.input :contact_no_1, :as => :string %>
    <%= f.input :contact_no_2, :as => :string %>
    <%= f.input :is_live, :as => :boolean, :label => "Live" %>
    <%= f.association :subjects, :as => :check_boxes, :label => "Subjects", :wrapper_html => {:class => "custom-ui-checkbox"} %>


    <%= f.simple_fields_for @user do |user| %>
      <%= user.input :email %>
      <%= user.input :password %>
      <%= user.input :password_confirmation %>
    <% end %>


    <div class="input">
      <label>&nbsp;</label>
      <div class="actions">
        <%= f.submit %>
        <%= link_to 'Back', teachers_path, :class => "link-button" %>
      </div>
    </div>

  <% end %>
</div>