<%= render :partial => "/layouts/header_breadcrumb", :locals => {:header => "Teachers", :sub_header => "Complete List", :breadcrumb => @breadcrumb} %>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">        
        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Teachers <a href="#" class="toggle-list" style="float:right"><i class="fa fa-chevron-circle-right"></i></a></h3>
      </div>
      <div class="panel-body data-list-toggle">
        <div class="table-responsive">
          <table id="teacher" class="table table-striped table-bordered table-hover" >
            <thead>
              <tr>
                <th>Name</th>
                <th>Subjects</th>
                <th>Classes</th>
                <th>Higher Degree</th>
                <th>Contact</th>
                <th>Create An Account</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @teachers.each do |teacher| %>
                <tr>
                  <td><%= link_to teacher.name, teacher_path(teacher), :class => "fancybox fancybox.ajax" %></td>
                  <td>
                      <%= teacher.subjects.map(&:name).join(", ") %>&nbsp;
                      <%=link_to raw("<i class='fa fa-plus'></i>"), edit_teacher_path(teacher, :hide => :on), :remote => true, :class => "btn btn-primary btn-xs", "data-target" => "#modalId", "data-toggle" => "modal"%>
                  </td>
                  <td><%= link_to "Classes (+)", klasses_teacher_path(teacher), :remote => true, :class => "btn btn-primary btn-xs", "data-target" => "#modalId", "data-toggle" => "modal" %></td>
                  <td><%= teacher.higher_qualification.try(:name) %></td>
                  <td><%= teacher.contact_no_2.nil? ? teacher.contact_no_1 : "#{teacher.contact_no_1 }, #{teacher.contact_no_2}" %></td>
                  <td><%= teacher.user ? (link_to "Edit Account", edit_user_path(teacher.user)) : (link_to "Creat an Account", new_teacher_user_path(teacher)) %></td>
                  <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
                </tr>
              <% end %>

            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>

<%= render :partial => "/shared/modal_box" %>

<%= link_to 'Add New Teacher', new_teacher_path() %>

<script src="/assets/admin/jquery.dataTables.js"></script>
<script src="/assets/admin/dataTables.bootstrap.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    oTable = $('#teacher').dataTable({
       "sPaginationType": "full_numbers",
       "bJQueryUI": true,
      "iDisplayLength":50
    });
  });

  function showClasses(nTr, data, op){
    var url = ("/teachers/" + data + "/klasses/");
    var sOut = ""
    $.ajax({
      type:'GET',
      async:false,
      url:url,
      success:function (resp) {
        sOut = resp;
      }
    });

    return sOut;
  }
</script>
