<div class="inner-box-container">
  <%= simple_form_for(@course) do |f| %>
    <% if @course.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

        <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <%= f.input :name, :required => true %>
      <%= f.input :display_name %>
      <%= f.input :description %>

      <div class="input">
        <label>&nbsp;</label>
        <div class="actions">
          <%= f.submit %>
          <%= link_to 'Back', courses_path, :class => "link-button" %>
        </div>
      </div>
  <% end %>
</div>