<div class="inner-box-container">

  <%= simple_form_for(@fee) do |f| %>
    <% if @fee.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@fee.errors.count, "error") %> prohibited this fee from being saved:</h2>

        <ul>
        <% @fee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  
    <%= f.input :name %>
    <%= f.input :display_name %>
    <%= f.input :description %>

    <div class="input">
      <label>&nbsp;</label>
      <div class="actions">
        <%= f.submit %>
        <%= link_to 'Back', documents_path, :class => "link-button" %>
      </div>
    </div>
  
  <% end %>
</div>