<div class="inner-box-container">
  <%= simple_form_for(@admission) do |f| %>
    <% if @admission.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@admission.errors.count, "error") %> prohibited this admission from being saved:</h2>

        <ul>
        <% @admission.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    Step 1
    <%= f.input :student_first_name %>
    <%= f.input :student_middle_name %>
    <%= f.input :student_last_name %>
    <%= f.input :date_of_birth, :as => :string %>
    <%= f.input :gender %>
    <%= f.input :admission_batch_id %>

    <%= f.input :father_name %>
    <%= f.input :mother_name %>
    <%= f.input :local_guardian_name %>
    <%= f.input :relation_with_student %>

    <%= f.input :last_batch %>
    <%= f.input :last_batch_result %>
    <%= f.input :last_batch_result_in_per %>
    <%= f.input :last_institution %>
    <%= f.input :last_academic_year %>


    Step 2
    <%= f.input :address_line1 %>
    <%= f.input :address_line2 %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :country_id %>
    <%= f.input :phone1 %>
    <%= f.input :phone2 %>
    <%= f.input :immediate_contact %>
    <%= f.input :guardian_email %>

    <%= f.input :birth_place %>
    <%= f.input :nationality_id %>
    <%= f.input :mother_language %>
    <%= f.input :religion %>

    <%= f.input :student_category %>
    <%= f.input :blood_group %>

    <%= f.input :occupation %>
    <%= f.input :income %>
    <%= f.input :education %>

    <div class="input">
      <label>&nbsp;</label>
      <div class="actions">
        <%= f.submit "Create" %>
        <%= link_to 'Back', klasses_path, :class => "link-button" %>
      </div>
    </div>

  <% end %>
</div>