<h1>Admissions</h1>

<table id="admissions" class="display">
  <thead>
  <tr>
    <th>Admission no</th>
    <th>Student Name</th>
    <th>Guardian Name</th>
    <th>Last Class</th>
    <th>Admission batch</th>
    <th>Last School/Institute</th>
    <th>Last Class Result</th>
    <th>Edit info</th>
  </tr>
  </thead>
  <tbody>
<% @admissions.each do |admission| %>
  <tr>
    <td><%= link_to admission.admission_no, admission_path(admission) %></td>
    <td><%= admission.name %></td>
    <td><%= admission.father_name %></td>
    <td><%= admission.last_klass.try(:display_name) %></td>
    <td><%= admission.admission_batch.try(:display_name) %></td>
    <td><%= admission.last_institution %></td>
    <td><%= admission.last_batch_result_in_per %>%</td>
    <td><%= link_to 'Edit', edit_admission_path(admission) %></td>
  </tr>
<% end %>
</tbody>
</table>

<%= link_to 'New Admission', new_admission_path %>

<script type="text/javascript">
  $(document).ready(function(){
    oTable = $('#admissions').dataTable({
       "sPaginationType": "full_numbers",
       "bJQueryUI": true,
      "iDisplayLength":50
    });
  });

</script>