<h1>Admissions</h1>

<table id="admissions" class="display">
  <thead>
  <tr>
    <th>Admission no</th>
    <th>Student Name</th>
    <th>Guardian Name</th>
    <th>Last Class</th>
    <th>Admission batch</th>
    <th>Last School/Institute</th>
    <th>Last Class Result</th>
    <th>Edit info</th>
  </tr>
  </thead>
  <tbody>
<% @admissions.each do |admission| %>
  <tr>
    <td><%= link_to admission.admission_no, admission_path(admission) %></td>
    <td><%= admission.name %></td>
    <td><%= admission.father_name %></td>
    <td><%= admission.last_klass.try(:display_name) %></td>
    <td><%= admission.admission_batch.try(:display_name) %></td>
    <td><%= admission.last_institution %></td>
    <td><%= admission.last_batch_result_in_per %>%</td>
    <td><%= link_to 'Edit', edit_admission_path(admission) %></td>
  </tr>
<% end %>
</tbody>
</table>
<div id="klass-drop-down" style="display:none;">
  <label>Filter by Class
    <%= select_tag(:klass, options_from_collection_for_select(Klass.all, "id", "display_name", params[:klass]), :prompt => "Select Class") %>
  </label>
</div>
<%= link_to 'New Admission', new_admission_path %>

<script type="text/javascript">
    $(document).ready(function () {
     oTable =  $('#admissions').dataTable(
              {
                "bServerSide":true,
                "bProcessing":true,
                "sAjaxSource":"<%= admissions_path(:klass => params[:klass])%>",
                "sPaginationType": "full_numbers",
                "bJQueryUI": true,
                "iDisplayLength": 50,
                "aLengthMenu": [10, 25, 50, 100, 150],
                "aoColumnDefs":[{"bSortable":false, "aTargets":[7]}]
              }
      );
        
      $("#admissions_filter").prepend($("#klass-drop-down").html());  
      
      $("#klass").change(function(){
          window.location.href = "?klass="+$(this).val();
      })
    });
  </script>