<p id="notice"><%= notice %></p>

<p>
  <b>Admission no:</b>
  <%= @admission.admission_no %>
</p>

<p>
  <b>First name:</b>
  <%= @admission.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @admission.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @admission.last_name %>
</p>

<p>
  <b>Guardian name:</b>
  <%= @admission.guardian_name %>
</p>

<p>
  <b>Relation:</b>
  <%= @admission.relation %>
</p>

<p>
  <b>Guardian email:</b>
  <%= @admission.guardian_email %>
</p>

<p>
  <b>Occupation:</b>
  <%= @admission.occupation %>
</p>

<p>
  <b>Income:</b>
  <%= @admission.income %>
</p>

<p>
  <b>Education:</b>
  <%= @admission.education %>
</p>

<p>
  <b>Gender:</b>
  <%= @admission.gender %>
</p>

<p>
  <b>Blood group:</b>
  <%= @admission.blood_group %>
</p>

<p>
  <b>Birth place:</b>
  <%= @admission.birth_place %>
</p>

<p>
  <b>Language:</b>
  <%= @admission.language %>
</p>

<p>
  <b>Religion:</b>
  <%= @admission.religion %>
</p>

<p>
  <b>Address line1:</b>
  <%= @admission.address_line1 %>
</p>

<p>
  <b>Address line2:</b>
  <%= @admission.address_line2 %>
</p>

<p>
  <b>City:</b>
  <%= @admission.city %>
</p>

<p>
  <b>State:</b>
  <%= @admission.state %>
</p>

<p>
  <b>Pin code:</b>
  <%= @admission.pin_code %>
</p>

<p>
  <b>Phone1:</b>
  <%= @admission.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @admission.phone2 %>
</p>

<p>
  <b>Email:</b>
  <%= @admission.email %>
</p>

<p>
  <b>Photo filename:</b>
  <%= @admission.photo_filename %>
</p>

<p>
  <b>Photo content type:</b>
  <%= @admission.photo_content_type %>
</p>

<p>
  <b>Status description:</b>
  <%= @admission.status_description %>
</p>


<%= link_to 'Edit', edit_admission_path(@admission) %> |
<%= link_to 'Back', admissions_path %>
