<div class="detailed-view">
  <p class="message"><%= @admission.name %> (Admission # <%=@admission.admission_no%>) Son/Daughter of <%=@admission.father_name%> <%unless @admission.last_klass.nil?%>has pass out
Class <%=@admission.last_klass.display_name%> from <%=@admission.last_institution%> with <%=@admission.last_batch_result_in_per%><%else%>applied for Class <%=@admission.admission_batch.display_name%><%end%><br/><br/>

  Admission comity will review this Application soon</p>


  <div class="buttons-full-page" style="padding: 0px 60px;">
    <%= link_to "Home", root_path, :class => "button" %>
    <%= link_to "Admission Review", review_admission_path(@admission), :class => "button right" %>
  </div>

</div>