<div class="left-sec">

  <div class="student-pic">
    <%= image_tag (@admission.try(:asset).try(:data, :small).nil? ? "/assets/web/default-stdnt.jpg" : @admission.try(:asset).try(:data, :small)) %>
  </div>

  <div class="student-basic-info">
      <h2><%= @admission.name %></h2>
      <%= raw display_label("Admission #",@admission.admission_no)%>
      <%= raw display_label("Date of Birth", @admission.date_of_birth) %>
      <%= raw display_label("Blood Group", @admission.blood_group) %>
      <%= raw display_label("Gender", @admission.gender) %>      
  </div>
  
</div>

<div class="right-sec">
  
</div>

