<%= render :partial => "/layouts/header_breadcrumb", :locals => {:header => "Admission review", :sub_header => "for #{@admission.name}", :breadcrumb => @breadcrumb} %>

<%= render :partial => "show", :locals => {:admission => @admission} %>

<!-- confirmation checkbox will come here -->
<!--I hereby confirm that I have verified the profile -->

<%= link_to raw("<i class='fa fa-arrow-left fa-fw'></i> Back to Admissions"), admission_admission_documents_path(@admission), :class => "btn btn-success" %>
<%= simple_form_for @admission, :html => {:class => "pull-right", :method => :put} do |f|%>
  <%= f.input :status, :as => :boolean, :label => "I hereby confirm that I have verified the profile" %>
  <button type="submit" class="btn btn-info pull-right btn">
    <i class="fa fa-arrow-right fa-fw"></i>
    Next
  </button>  
<%end%>



