<!DOCTYPE html>
<html>
<head>
  <title>Pathshala</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  
  <%= render :partial => "/layouts/header"%>
  
  <div class="wrapper">

    <!-- <breadcrumb><%= raw @render_breadcrumb %></breadcrumb> -->

    <div class="inner-box shadow">
      <%= yield %>
    </div>

    <div class="sidebar shadow">
      <%= render :partial => "/shared/sidebar" %>
    </div>

    
  </div>

</body>
</html>
