<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pathshaala - <%= @title %></title>
    <%= stylesheet_link_tag "application"%>
    
    <%= javascript_include_tag "application" %>
    <script src="/assets/admin/bootstrap.js"></script>
    
    <%= csrf_meta_tags %>    
</head>

<body>

    <div id="wrapper">

        <%= render :partial => "/layouts/header" %>

        <div id="page-wrapper">
            <%= yield %>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
 
</body>

</html>
